<div class="login-wrapper column">
  <div class="login">
    <div class="login-heading">
      <h2>Sign in</h2>
    </div>

    <div class="login-body">
      <%= render partial: 'home/instagram_login' %>
    </div>
  </div>
</div>
