<div class="null-font-size">
  <% @photos.each do |photo| %>
    <%= render partial: 'photos/photo', locals: { photo: photo } %>
  <% end %>
</div>

<footer>
  <%= render partial: 'photos/photos_pagination', locals: { photos: @photos } %>
  <%= render partial: 'photos/recent_photos_form' %>
</footer>


<script type="text/javascript">
  $('.photo').each(function(index) {
    var commentsSubmit = $(this).find('.comments-submit');
    var photoId  = $(this).data('photo-id');

    commentsSubmit.click(function(event) {
      event.preventDefault();
      toggleComments(commentsSubmit, photoId);
    });
  });
</script>
